body {
  .accordion-chart-wrapper {
    height: 26px;
    width: 100%;
    position: relative;
    .accordion-chart-bar {
      position: relative;
      height: 26px;
      margin-right: 60px;
      background-color: #e6e6e5;
      -webkit-border-radius: 3.25px;
      -moz-border-radius: 3.25px;
      border-radius: 3.25px;
      overflow: hidden;
      text-align: left;
      .school-name-background,
      .school-name {
        font-size: 14px;
        line-height: 26px;
        position: relative;
        text-align: left;
        width: 100%;
        white-space: nowrap;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 0 10px;
        width: 100%;
      }
      .school-name-background {
        color: #676767;
        z-index: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .school-name {
        color: white;
        z-index: 2;
      }
      .accordion-chart-fill {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 26px;
        z-index: 1;
        overflow: hidden;
        @extend %transition;
      }
    }
    .accordion-chart-data {
      .school-data {
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: left;
        height: 26px;
        width: 60px;
        padding: 0 15px;
        line-height: 26px;
        font-size: 17px;
      }
      .close-accordion {
        height: 26px;
        width: 26px;
        padding: 8px;
        display: block;
        vertical-align: top;
        position: absolute;
        top: 0px;
        right: 15px;
        text-align: center;
        -webkit-border-radius: 3.25px;
        -moz-border-radius: 3.25px;
        border-radius: 3.25px;
        svg {
          height: 10px;
          width: 10px;
          vertical-align: top;
        }
        img {
          height: 10px;
          width: 10px;
          vertical-align: top;
        }
      }
      > * {
        @extend %transition;
      }
    }
  }
  .accordion-chart-link {
    display: block;
    overflow: hidden;
    clear: both;
    margin-bottom: 15px;
    height: 26px;
    width: 100%;
    &.accordion-chart-open {
      .accordion-chart-wrapper {
        .accordion-chart-data {
          .school-data {
            opacity: 0 !important;
          }
        }
      }
    }
    &:not(.accordion-chart-open) {
      .accordion-chart-wrapper {
        .accordion-chart-data {
          .close-accordion {
            opacity: 0 !important;
          }
        }
      }
    }
  }
  .accordion-chart-yoy-data {
    margin-bottom: 30px;
  }
}

body.remove-styles {
  .accordion-chart-wrapper {
    .accordion-chart-bar {
      .accordion-chart-fill {
        background-color: #333333;
      }
    }
  }
}

body:not(.remove-styles)  {
  .accordion-chart-wrapper {
    .accordion-chart-bar {
      .school-name-background,
      .school-name {
        @extend %robotoRegular;
      }
      .accordion-chart-fill {
        background-color: #333333;
      }
      &.grade-A {
        .accordion-chart-fill {
           background-color: #adafb2;
        }
      }
      &.grade-B {
        .accordion-chart-fill {
           background-color: #adafb2;
        }
      }
      &.grade-C {
        .accordion-chart-fill {
           background-color: #adafb2;
        }
      }
      &.grade-D {
        .accordion-chart-fill {
           background-color: #adafb2;
        }
      }
      &.grade-F {
        .accordion-chart-fill {
           background-color: #adafb2;
        }
      }
      &.grade-I {
        .accordion-chart-fill {
           background-color: #adafb2;
        }
      }
      &.grade-,
      &.accordion-chart-no-data {
        .accordion-chart-fill {
           background-color: #adafb2;
        }
      }
    }
    .accordion-chart-data {
      .close-accordion {
        background-color: $purple;
        -webkit-border-radius: 3.25px;
        -moz-border-radius: 3.25px;
        border-radius: 3.25px;
        svg {
          polygon {
            fill: white;
          }
        }
      }
      .school-data {
        @extend %robotoBlack;
        .grade {
          font-size: 21px;
        }
        .data {
          font-size: 17px;
        }
        line-height: 26px;
      }
      &.grade-A {
        .school-data {
          color: #adafb2;
        }
      }
      &.grade-B {
        .school-data {
          color: #adafb2;
        }
      }
      &.grade-C {
        .school-data {
          color: #adafb2;
        }
      }
      &.grade-D {
        .school-data {
          color: #adafb2;
        }
      }
      &.grade-F {
        .school-data {
          color: #adafb2;
        }
      }
      &.grade-I {
        .school-data {
          color: #adafb2;
        }
      }
      &.grade-,
      &.accordion-chart-no-data {
        .school-data {
          color: #adafb2;
        }
      }
    }
  }
}