
/* CONTACT FORM */
.spb-icon-contact-form {
    background-image: url(../images/page-builder-assets/menu_icons/menu_contact_form.png);
}

.spb_contact_form .spb_element_wrapper {
    background-image: url(../images/page-builder-assets/asset_icons/contact_form.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 80px;
}

/* RETINA */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .spb-icon-contact-form {
        background-image: url(../images/page-builder-assets/menu_icons/menu_contact_form@2x.png);
    }

    .spb_contact_form .spb_element_wrapper {
        background-image: url(../images/page-builder-assets/asset_icons/contact_form@2x.png);
        background-size: 120px 54px;
    }

}

/* ISSUE BRIEFS */
.spb-icon-issue-briefs {
    background-image: url(../images/page-builder-assets/menu_icons/menu_issue_briefs.png);
}

.spb_issue_briefs .spb_element_wrapper {
    background-image: url(../images/page-builder-assets/asset_icons/issue_briefs.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 80px;
}

/* RETINA */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .spb-icon-issue-briefs {
        background-image: url(../images/page-builder-assets/menu_icons/menu_issue_briefs@2x.png);
    }

    .spb_issue_briefs .spb_element_wrapper {
        background-image: url(../images/page-builder-assets/asset_icons/issue_briefs@2x.png);
        background-size: 120px 54px;
    }

}

/* SOCIAL SHARING */
.spb-icon-socialsharing {
    background-image: url(../images/page-builder-assets/menu_icons/menu_social_sharing.png);
    background-size: 16px 16px;
}

.spb_socialsharing .spb_element_wrapper {
    background-image: url(../images/page-builder-assets/asset_icons/social_sharing.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 80px;
    background-size: 120px 54px;
}

/* RETINA */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .spb-icon-socialsharing {
        background-image: url(../images/page-builder-assets/menu_icons/menu_social_sharing@2x.png);
    }

    .spb_socialsharing .spb_element_wrapper {
        background-image: url(../images/page-builder-assets/asset_icons/social_sharing@2x.png);
    }

}

/* FLORIDA SCHOOLS FEED */

.spb_florida_schools_feed .spb_element_wrapper {
    background-image: url(../images/page-builder-assets/asset_icons/floridaschoolsfeed.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 80px;
    background-size: 120px 54px;
}

/* RETINA */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .spb_florida_schools_feed .spb_element_wrapper {
        background-image: url(../images/page-builder-assets/asset_icons/floridaschoolsfeed@2x.png);
    }

}